---
import type { RichTextType } from "storyblok-rich-text-astro-renderer";
import Layout from "../layouts/Layout.astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const richTextFromStoryblok: RichTextType = {
  type: "doc",
  content: [
    {
      type: "heading",
      attrs: {
        level: 1,
      },
      content: [
        {
          text: "storyblok-rich-text-astro-renderer",
          type: "text",
        },
      ],
    },
    { type: "horizontal_rule" },
    {
      type: "paragraph",
      content: [
        {
          text: "This is simple paragraph. ",
          type: "text",
        },
      ],
    },
    {
      type: "paragraph",
      content: [
        {
          text: "Marks: ",
          type: "text",
        },
        {
          text: "bold",
          type: "text",
          marks: [
            {
              type: "bold",
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "underline",
          type: "text",
          marks: [
            {
              type: "underline",
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "italic",
          type: "text",
          marks: [
            {
              type: "italic",
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "link",
          type: "text",
          marks: [
            {
              type: "link",
              attrs: {
                href: "/",
                uuid: "6c401799-b2ad-4854-aa3e-f58ac59bf763",
                anchor: null,
                custom: {},
                target: "_blank",
                linktype: "story",
              },
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "styled",
          type: "text",
          marks: [
            {
              type: "styled",
              attrs: {
                class: "text-green",
              },
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "strike",
          type: "text",
          marks: [
            {
              type: "strike",
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "superscript",
          type: "text",
          marks: [
            {
              type: "superscript",
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "subscript",
          type: "text",
          marks: [
            {
              type: "subscript",
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "code",
          type: "text",
          marks: [
            {
              type: "code",
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "anchor",
          type: "text",
          marks: [
            {
              type: "anchor",
              attrs: {
                id: "this-is-anchor",
              },
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "textStyle",
          type: "text",
          marks: [
            {
              type: "textStyle",
              attrs: {
                color: "#ddA03A",
              },
            },
          ],
        },
        {
          text: ", ",
          type: "text",
        },
        {
          text: "highlight",
          type: "text",
          marks: [
            {
              type: "highlight",
              attrs: {
                color: "#9CFFA4",
              },
            },
          ],
        },
        {
          text: ".",
          type: "text",
        },
      ],
    },
    {
      type: "paragraph",
      content: [
        {
          type: "image",
          attrs: {
            id: 111111,
            alt: "My alt text",
            src: "https://dummyimage.com/300x200/eee/aaa", // this will actually be Storyblok native link (https://a-us.storyblok.com/f/.../276x83/.../image.png) and it contains width/height information.
            title: "The title",
            source: "The source",
            copyright: "The copyright text",
            meta_data: {},
          },
        },
      ],
    },
    {
      type: "blockquote",
      content: [
        {
          type: "paragraph",
          content: [
            {
              text: "This is a quote",
              type: "text",
            },
          ],
        },
      ],
    },
    {
      type: "code_block",
      attrs: {
        class: "language-javascript",
      },
      content: [
        {
          text: "const IsStoryblokFun = () => {\n  return true;\n}",
          type: "text",
        },
      ],
    },
    {
      type: "blok",
      attrs: {
        id: "63f693c0-4a1b-46d7-af9b-b67eadb1cf2b",
        body: [
          {
            _uid: "i-b29a4416-7e0e-49ed-a9ee-23e2299f8df4",
            title: "Button [blok]",
            component: "button",
          },
        ],
      },
    },
    { type: "hard_break" },
    {
      type: "heading",
      attrs: {
        level: 2,
      },
      content: [
        {
          text: "Heading",
          type: "text",
        },
      ],
    },
    {
      type: "paragraph",
      content: [
        {
          text: "Yet one more paragraph with emoji ",
          type: "text",
        },
        {
          type: "emoji",
          attrs: {
            name: "rocket",
            emoji: "🚀",
            fallbackImage:
              "https://cdn.jsdelivr.net/npm/emoji-datasource-apple/img/apple/64/1f680.png",
          },
        },
      ],
    },
    {
      type: "bullet_list",
      content: [
        {
          type: "list_item",
          content: [
            {
              type: "paragraph",
              content: [
                {
                  text: "one",
                  type: "text",
                },
              ],
            },
          ],
        },
        {
          type: "list_item",
          content: [
            {
              type: "paragraph",
              content: [
                {
                  text: "two",
                  type: "text",
                },
              ],
            },
          ],
        },
        {
          type: "list_item",
          content: [
            {
              type: "paragraph",
              content: [
                {
                  text: "three",
                  type: "text",
                },
              ],
            },
          ],
        },
      ],
    },
    {
      type: "ordered_list",
      attrs: {
        order: 1,
      },
      content: [
        {
          type: "list_item",
          content: [
            {
              type: "paragraph",
              content: [
                {
                  text: "one",
                  type: "text",
                },
              ],
            },
          ],
        },
        {
          type: "list_item",
          content: [
            {
              type: "paragraph",
              content: [
                {
                  text: "two",
                  type: "text",
                },
              ],
            },
          ],
        },
        {
          type: "list_item",
          content: [
            {
              type: "paragraph",
              content: [
                {
                  text: "three",
                  type: "text",
                },
              ],
            },
          ],
        },
      ],
    },
    {
      type: "paragraph",
      content: [
        {
          text: "© {currentYear} Company X. All Rights Reserved",
          type: "text",
        },
      ],
    },
  ],
};

// this should idealy come from Storyblok CMS
const story = {
  content: { component: "rich_text", text: richTextFromStoryblok },
};
---

<Layout title="Welcome to Astro.">
  <main>
    <StoryblokComponent blok={story.content} />
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
  }
</style>
