---
import type { Styled } from "storyblok-rich-text-astro-renderer";

export type Props = Styled["attrs"];

const { class: className } = Astro.props;
---

<style>
  .text-blue {
    color: rgb(129, 129, 238);
  }
  .text-red {
    color: rgb(227, 97, 97);
  }
  .text-green {
    color: rgb(75, 191, 96);
  }
</style>

<span class={className}><slot /></span>
