---
import { resolveRichTextToNodes } from "./dist/index.mjs";
import type { ComponentNode, Options, RichTextType } from "./dist/types";

export type Props = {
  content: RichTextType;
  schema?: Options["schema"];
  /**
   Resolver function used for rendering inlined CMS bloks. Usually via StoryblokComponent, f.e.
   ```
    resolver={(blok) => {
       return {
         component: StoryblokComponent,
         props: { blok },
       };
    }}
   ```
   */
  resolver: Options["resolver"];
  /**
   Function to control the rendering of the plain text. Useful for text preprocessing, f.e.
   ```
    // replaces {currentYear} substring with the actual value in all texts
    textResolver={(text) => {
      const currentYear = new Date().getFullYear().toString();
      return {
        content: text.replaceAll("{currentYear}", currentYear),
      };
    }}
   ```
   */
  textResolver: Options["textResolver"];
};

const { content, schema, resolver, textResolver, ...props } = Astro.props;

const nodes = resolveRichTextToNodes(content, {
  schema,
  resolver,
  textResolver,
});
---

<div {...props}>
  {
    () => {
      const renderNode = (node: ComponentNode) => {
        if (node == null) return;

        const { component: Component = Fragment, content, props } = node;
        let resolvedContent = content;

        if (Array.isArray(content)) {
          resolvedContent = content.map(renderNode);
        }

        return <Component {...props}>{resolvedContent}</Component>;
      };

      return nodes.map(renderNode);
    }
  }
</div>
