name: QA

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read # Apply only required permissions

jobs:
  qa:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #v3
        with:
          persist-credentials: 'false' #By default, actions/checkout persists GIT credentials, we do not need this
      - name: Setup Node
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 #v3
        with:
          node-version: 18
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Build lib
        run: npm run build
      - name: QA check
        run: npm run qa
